<template name="post_submit">
  <div class="grid submit">
    <form class="grid-block form-horizontal">
      <div class="control-group">
        <label class="control-label">{{i18n "Title"}}</label>
        <div class="controls"><input id="title" type="text" maxlength="50" value="" /><a href="#" class="get-title-link inline-link">{{i18n "Suggest title"}}</a></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Presented by"}}</label>
        <div class="controls"><input id="presenter" type="text" maxlength="50" value="" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Description"}}</label>
        <div class="controls" id="editor"><textarea id="body" value="" maxlength="500" class="input-xlarge"></textarea></div>
      </div>
      {{#if categoriesEnabled}}
      <div class="control-group">
        <label class="control-label">{{i18n "Category"}}</label>
        <div class="controls">
          {{#each categories}}
          <label class="radio inline">
            <input id="category_{{_id}}" type="checkbox" value="{{_id}}" name="category" /> {{name}}
          </label>
          {{/each}}
        </div>
      </div>
      {{/if}}
      <div class="control-group">
        <label class="control-label">{{i18n "Date"}}</label>
        <div class="controls"><input id="submitted" type="text" value="{{submittedDate}}" /><input id="submitted_hidden" type="hidden" value="{{submitted}}" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">{{i18n "Time"}}</label>
        <div class="controls"><input id="time" type="text" maxlength="10" value="" /></div>
      </div>

      <div class="control-group">
        <label class="control-label">{{i18n "Tags"}}</label>
        <div class="controls"><div data-tags-input-name="posterTag" id="tag" data-case-sensitive="true" >tag</div></div>
        <p class="help-block">Press Enter, Comma or Spacebar to create a new tag, Backspace or Delete to remove the last one.</p>
      </div>

      <div class="control-group">
        <label class="control-label">{{i18n "URL"}}</label>
        <div class="controls"><input id="url" type="text" value="" /></div>
      </div>
      {{#if isAdmin}}
        <div class="control-group">
          <label class="control-label">{{i18n "Sticky?"}}</label>
          <div class="controls">
            <input type="checkbox" name="sticky" id="sticky" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">{{i18n "User"}}</label>
          <div class="controls">
            <select id="postUser">
              {{#each users}}
              <option {{isSelected}} value="{{_id}}">{{userName}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">{{i18n "Status"}}</label>
          <div class="controls">
            <label class="radio inline">
              <input id="status_pending" type="radio" value="1" name="status"/> {{i18n "Pending"}}
            </label>
            <label class="radio inline">
              <input id="status_approved" type="radio" value="2" name="status" checked /> {{i18n "Approved"}}
            </label>
            <label class="radio inline">  
              <input id="status_rejected" type="radio" value="3" name="status"/> {{i18n "Rejected"}}
            </label>
          </div>
        </div>
      {{/if}}
      <div class="form-actions">
        <input type="submit" value="{{i18n "Submit"}}" />
      </div>
    </form>
  </div>
</template>
